{% extends 'base.html.twig' %}

{% block main %}
    this is upload test

    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="img">
        <input type="submit" value="确定">
    </form>

{% endblock %}