<html>
    <head></head>
    <body>
    {{ glob.getOne().title }}

    <p>hello,world</p>
    <img src="{{ qrcode_url("nihao", { extension: 'png' }) }}" />
    <img src="{{ qrcode_url("hello", { extension: 'png' }) }}" />
    {#<img src="{{ qrcode_url("caihong", { size: 150 }) }}" />#}
    </body>
</html>