body{
        font-family:
            'lucida grande',
            'lucida sans unicode',
            lucida, helvetica,
            'Hiragino Sans GB',
            'Microsoft YaHei',
            'WenQuanYi Micro Hei';
    color: #333;
        
}
a{
    color: #337ab7;
}
a:hover{
    color: #23527c;
    text-decoration: none;
}

.navbar-default{
    background-color: #222;
}