<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>刘杰的个人简历</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('bundles/homepage/css/main.css') }}" type="text/css">
    <link href="https://static.yeskn.com/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
<div id="wrapper">
    <div class="main">
        <div class="post">
            <h1><a href='/'>刘杰的个人简历 <i class="fa fa-hand-o-left"></i></a></h1>
            <h3 class="date">2016年06月22日</h3>

            <p class="lagou"><a href="{{ path('homepage_default_lagou') }}">拉勾版本</a></p>
            <div class="content">

                <h2 id="section">联系方式</h2>
                <ul>
                    <li>手机：base64Decode('MTU2MjM0NTA4NTE=')</li>
                    <li>Email：admin@yeskn.com</li>
                </ul>

                <h2 id="section-1">个人信息</h2>
                <ul>
                    <li>刘杰</li>
                    <li>工作年限：2年</li>
                    <li>武汉汉口学院 网络工程</li>
                    <li>个人主页：<a href="http://yeskn.com">http://yeskn.com</a></li>
                    <li>Github: <a href="http://github.com/Jaggle">http://github.com/jaggle</a></li>
					<li> 目前就职于 上海泛微/晓家/大牛家项目组</li>
                </ul>

                <h2 id="section-2">工作经历</h2>

                <h3 id="i-classfa-fa-linkihttp7lkcomtargetblank">
                    <strong>阿拉丁数字信息股份有限公司武汉分公司 (2015-07 ~ 2016-05)</strong>
                    <a href=""><i class="fa fa-link"></i></a>
                </h3>

                <h4 id="alaketang"><strong>阿拉课堂 - 类似慕课网的在线视频学习网站</strong></h4>
                <ul>
                    <li>CMS系统，数据管理，Symfony框架开发</li>
                    <li>在线视频播放，结合七牛云存储存放视频数据</li>
                    <li>支付宝|网银支付接口</li>
                </ul>

                <h4 id="dayi"><strong>啊啦答疑 - 阿拉课堂的附属项目,用于解答学习中遇到的问题</strong></h4>
                <ul>
                    <li>在线即时聊天功能 ，ajax+websocket</li>
                    <li>问题管理，用户等级管理</li>
                </ul>

                <h4 id="eds-news"><strong>E都市新闻 - 新闻类APP</strong></h4>
                <ul>
                    <li>REST接口开发</li>
                    <li>后台管理功能开发</li>
                    <li>用户系统，积分系统，新闻推荐系统的开发</li>
                </ul>


                <h2 id="section-5">开源项目和作品</h2>

                <h3 id="JetPHP">JetPHP</h3>
                <ul>
                    <li>简单的PHP开发的cms框架，完成路由匹配，数据库链式操作，引入twig模板引擎</li>
                    <li>GitHub 项目地址: <a href="https://github.com/Jaggle/JetPHP">https://github.com/Jaggle/JetPHP</a>
                    </li>
                </ul>

				<h3 id="edsUI">edsUI</h3>
                <ul>
                    <li>一套使用方便的前端组件，包含模态框组件，简易js模板引擎等</li>
                    <li>GitHub 项目地址: <a href=" https://github.com/Jaggle/eds-ui"> https://github.com/Jaggle/eds-ui</a>
                    </li>
                </ul>

                <h3 id="githubpull-request">在Github上为开源项目提交的<code class="highlighter-rouge">Pull request</code></h3>
                <ul>
                    <li>ThinkPHP: <a href="https://github.com/top-think/thinkphp/pull/415">https://github.com/top-think/thinkphp/pull/415</a>
                    </li>
                </ul>

                <h2 id="section-5">当前计划</h2>
                <ul>
                    <li>写一个知乎的爬虫</li>
                    <li>用symfony完成一个完善的cms系统</li>

                </ul>

                <h2 id="section-6">技能清单</h2>
                <ul>
                    <li>熟悉并热衷于<code class="highlighter-rouge">Symfony</code> 框架</li>
                    <li>良好的编码习惯,遵循<code class="highlighter-rouge">PSR</code>规范</li>
                    <li>linux用户,了解编写<code class="highlighter-rouge">Shell Script</code>服务器自动化运维</li>
                    <li>熟悉ELK平台的日志、请求分析</li>
                    <li>基本的服务器运维知识</li>
                    <li>对于新时代的前端开发略懂一二</li>
                </ul>

                <h2 id="or--">加分 or 减分 ?</h2>
                <ul>
                    <li>喜欢web后端的工作，并了解部分前端知识, 正在研究<code class="highlighter-rouge">Node.js</code></li>
                    <li>兴趣广泛，伪全栈开发</li>
                </ul>

                <h2 id="section-7">致谢</h2>
                <ul>
                    <li>感谢您花时间阅读我的简历，期待能有机会和您共事。</li>
                </ul>

            </div>


        </div>
        <div>
            <p ><i class="fa  fa-mail-reply"></i>
                <a style="color: #f66" href="{{ path('homepage_default_index') }}">返回首页</a></p>
        </div>
        <div id="disqus_thread">

        </div>
    </div>
</div>

<img class="mascot" src="https://static.yeskn.com/symfony-mascot-1.png" alt="" style="">

</body>
</html>
